<mat-card>


    <form (ngSubmit)="onSubmit()" #commentForm="ngForm" class="example-container">

        <mat-form-field>
            <input matInput placeholder="Name" name="name" [(ngModel)]="comment.user"
                   #name="ngModel">

        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Subject" name="subject" [(ngModel)]="comment.subject"
                   #name="ngModel">
        </mat-form-field>

        <mat-form-field>
        <textarea matInput placeholder="Body" name="body" [(ngModel)]="comment.body"
                  #name="ngModel"></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
</mat-card>

<mat-card  class="example-card">
    <div *ngFor="let comment of customer.comments">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{comment.user}}</mat-card-title>
        <mat-card-subtitle>{{comment.subject}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{comment.body}}
        </p>
    </mat-card-content>
    </div>
</mat-card>
